@import '../../../node_modules/react-modal-video/css/modal-video.min.css';

.video-block {
  display: flex;
  justify-content: center;
}

.video-button {
  width: 250px;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #584c54;
}

.video-button:hover {
  color: #c1b5bd;
  background-color: #43383f;
}


