@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    font-size: 18px;
    &{
        font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif; 
    }
}
header{
    opacity:1;
}
.navbar, main, footer{
    max-width:1280px;
    padding: 0px 1.0875rem 1.45rem;
    margin:0 auto;
    z-index:110;
}

a{
    text-decoration:none;
}

.btn-primary{
    color:#666;
    background-color: transparent;
    border: 1px solid #666;
    border-radius: 5px;
    line-height: 24px;
    padding: 8px 35px;
    &:hover{
        border-color:#fff;
        background-color: #40589A;
        color:#fff;
    }
}

.background{
    position: relative;
    height:90vh;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-image: url('../../images/back_3.jpg');
        background-attachment: fixed;
        background-size:cover;
        opacity: 0.9;
        background-blend-mode: multiply;
    }
}

@media (max-width: 767px){
    .background::before{
        display:none;
    }
    .background{
        height:fit-content;
    }
  }