@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.authorCard{
    flex-direction: row;
    width:100%;
    border: none;
    background-color: transparent;
    font-family: 'Roboto','Arial', sans-serif;
    justify-content: space-between;
    margin-bottom:3rem;
}

.photoCard{
    width: 16%;
    height:90%;
    margin-right:5rem;
    margin-bottom:1.45rem;
}
@media (max-width: 767px){
    .photoCard{
        display:none;
    }
}

.titleCard{
    font-weight:bold;
}
