@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
header, .dropdown-menu {
    background-color: #6F5E69;
    font-family: 'Roboto','Arial', sans-serif;
  }
   .navbar{
    justify-content: space-around;
    max-width: 1450px;
    margin: 0px auto;
  }
   .navbar-brand{
    width: 250px;
    height: 100px;
    margin-right: 10vw;
    margin-left:13vw;
  }
  .nav-item{
    margin-right: 3vw;
    &:last-child{
      padding-right:6vw; 
    }
    & a:hover{
      color:#fff;
      text-decoration: none;
    }
  }
  .nav-item, a{
    font-size: 1.2rem;
    padding-bottom:10px;
    margin-top:auto;
    margin-bottom:auto;
    padding-right:10px;
    outline:none;
    width:fit-content;
    color:#999999;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    outline:none;
    cursor:pointer;
  }
