@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
header, .dropdown-menu {
    background-color: #6F5E69;
    font-family: 'Roboto','Arial', sans-serif;
  }
   .navbar{
    justify-content: space-around;
    max-width: 1255px;
    margin: 0px auto;
  }
   .navbar-brand{
    width: 250px;
    height: 100px;
    margin-right: 7vw;
    margin-left:8vw;
  }
  .navbar-nav li{
    margin-right: 3vw;
    &:last-child{
      padding-right:6vw; 
    }
    & a:hover{
      color:#fff;
      text-decoration: none;
    }
  }
  .navbar-nav li, a{
    font-size: 1.2rem;
    padding-bottom:10px;
    padding-right:10px;
    outline:none;
    width:max-content;
    color:#999999;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline:none;
    cursor:pointer;
  }
