@import '~material-design-icons/iconfont/material-icons.css';

.timeline_wrapper {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 24px;
  padding: 7px 20px;
}

.timeline_title {
  padding: 12px;
}
